body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.party-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.party {
  width: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
}

.party h2 {
  margin-top: 0;
}

.details-button,
.delete-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.details-button {
  margin-right: 5px;
}

.party-details {
  width: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.party-details h2 {
  margin-top: 0;
}

.close-button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}
